<form class="ui raised segment form" action="/dashboard/addstation" method="POST">
  <div class="three fields">
    <div class="field">
      <label>Title</label>
      <input placeholder="Title" type="text" name="name" required />
    </div>
    <div class="field">
      <label>Latitude</label>
      <input placeholder="00.00" step=".0001" type="number" name="lat" required />
    </div>
    <div class="field">
      <label>Longitude</label>
      <input placeholder="00.00" step=".0001" type="number" name="lon" required />
    </div>
  </div>
  <button class="ui blue submit button">Add Station</button>
</form>