<table class="ui table">
  <thead>
    <tr>
      <th>Song</th>
      <th>Artist</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each station.readings}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{artist}}
        </td>
        <td>
          <a href="/station/{{../station.id}}/deletereading/{{id}}" class="ui tiny red button">Delete Reading</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>