<nav class="ui right menu">
  <header class="ui header item"><a href="/dashboard">WeatherTop V2</a></header>
  <div class="ui secondary menu">
    <p class="item">WeatherTop Services Inc.</p>
  </div>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="account" class="item" href="/accounts"> Account  </a>
    <a id="about" class="item" href="/about"> About </a>
    <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>
