<nav class="ui inverted blue right menu only computer">
  <header class="ui header item"><a href="/dashboard">WeatherTop V2</a></header>
  <div class="ui secondary menu">
    <p class="item">WeatherTop Services Inc.</p>
  </div>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="account" class="item" href="/accounts"> Account  </a>
    <a id="about" class="item" href="/about"> About </a>
    <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>

{{!-- Mobile menu --}}
<nav class="ui inverted blue stackable menu only mobile right menu">
  <header class="ui header item"><a href="/dashboard">WeatherTop V2</a></header>
  <a class="item">
    <i class="sidebar icon" onclick="toggleMenu()"></i>
  </a>
  <div class="ui container" id="Hamburger">
    <a class="item" href="/dashboard">Home</a>
    <a class="item" href="/about">About</a>
    <a class="item" href="/accounts">Account</a>
    <a class="item" href="/logout">Logout</a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");

function toggleMenu() {
  $('#Hamburger').toggle();
}
</script>
