{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    WeatherTop V2
  </h3>
  <p>
    WeatherTop is a Web Application which organizations and individuals can use to record Weather patterns and events.
  </p>
  <p>
    Please Log in to begin adding your weather stations and save your reports.
  </p>
  <p>
    Otherwise, register for an account to begin adding your station(s) to our database and add reports.
  </p>
</section>