{{> menu id="about"}}

<section class="ui middle aligned">
  <segment>
    <h1 class="ui header center aligned bottom-small-padding top-medium-padding">
      WeatherTop
    </h1>

    <div class="ui raised segment about bottom-medium-margin" >
      <i class="database icon blue"></i>
      <p>WeatherTop provides weather forecasts and warnings and additional weather products and services, with clients worldwide in media, business and government, including more than half of the Fortune 500 companies and thousands of other businesses globally.[1] It also runs the free, advertising-supported website, an online weather provider. Third-party web analytics providers Alexa and SimilarWeb rated the site as the 200th most visited website in the United States, as of November 2015.[2] tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    </div>

    <div class="ui raised segment about bottom-medium-margin">
      <i class="satellite dish icon blue"></i>
      <p>WeatherTop is currently unavailable in most European countries. We are engaged with the issue and committed to looking at options that support our full range of digital offerings to the EU market. We continue to identify technical compliance solutions that will provide all users with our time, temperature, and weather solutions.
        This solar-powered WiFi connectable station can measure wind speed, wind direction, rainfall, UV, solar radiation, barometric pressure, outdoor temperature and humidity, indoor temperature and humidity, dew point, heat index, wind chill, and more.</p>
    </div>

    <div class="ui raised segment about bottom-medium-margin">
      <i class="dice d20 icon blue"></i>
      <p>Often the weather reports you see in a weather app are from stations miles away from your location. Consequently, there can be significant discrepancies in these reports compared to the actual conditions around you. This is why you should consider a home weather station.
        The best home weather stations will do what smartphone apps cannot. They’ll tell you exactly what the weather’s doing at your own home, farm, school or business in real-time by measuring atmospheric conditions, such as temperature, relative humidity, barometric pressure, rainfall, wind speed, and wind direction. They can also connect to the Internet, so you can monitor your weather conditions from anywhere and share your findings with other weather enthusiasts.</p>
    </div>

  </segment>