{{> menu id="about"}}

<section class="ui middle aligned">
  <segment>
    <h1 class="ui header center aligned bottom-small-padding top-medium-padding">
      WeatherTop
    </h1>

    <div class="ui raised segment about bottom-medium-margin" >
      <i class="satellite dish icon blue"></i>
      <p>
        Welcome to WeatherTop. With the app, you can easily check the weather forecast for your current location or any city around the world. 
        The app provides up-to-date information on temperature, humidity, wind speed, and more, so you can plan your day accordingly. 
        Simple and user-friendly, WeatherTop is perfect for helping you stay ahead of the weather.
      </p>
    </div>

    <div class="ui raised segment about bottom-medium-margin">
      <i class="database icon blue"></i>
      <p>
        WeatherTop understands that keeping track of your weather readings can be important. 
        That's why we've made it easy for you to access your data whenever you need it. 
        Our app stores your readings in a JSON-like database that you can access through your account. 
        With just a few clicks, you can view your previous readings and compare them to current conditions. 
      </p>
    </div>

    <div class="ui raised segment about bottom-medium-margin">
      <i class="dice d20 icon blue"></i>
      <p>
        What started off as a college project WeatherTop is a labor of love and one that I am proud to share with you. 
        While I've done my best to ensure a seamless user experience, it's possible that a few bugs may slip through the cracks. 
        Rest assured that I'm continually working to improve the app, and your feedback is invaluable to me. 
        If you encounter any issues or have suggestions for improvement, please don't hesitate to contact me at any time @ wyneybanez@gmail.com. 
        I appreciate your support and hope you enjoy using WeatherTop.
        For any developers out there, here is the github repository: https://github.com/wyne-ybanez/Weathertop-v2
      </p>
    </div>

  </segment>