{{> welcomemenu }}

<section class="ui center aligned middle aligned">
  <div class="ui two column stackable grid basic middle aligned segment">

    <!--  Start Content  -->
    <div class="column">
      <h1 class="ui header">
        WeatherTop
      </h1>
      <p>
        WeatherTop is a Web Application which organizations and individuals can use to record Weather patterns and events.
      </p>
      <p>
        Please Log in to begin adding your weather stations and save your reports.
      </p>
      <p>
        Otherwise, register for an account to begin adding your station(s) to our database
        and add reports.
      </p>
    </div>

    <!--  Image  -->
    <div class="column">
      <img class="ui image" src="/images/start-img.jpeg">
    </div>

  </div>
</section>