{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{station.title}}
  </h2>
  <h4>Shortest reading: {{shortestReading.title}}</h4>
  {{> listreadings}}
  {{> addreading}}
</section>
